NODE_ENV=production 

PORT=5000 

# local 
# DATABASE_URL="postgresql://postgres:123456@host.docker.internal:5432/azanmunir?schema=public"

# docker 
DATABASE_URL="postgresql://postgres:123456@host.docker.internal:5432/azanmunir?schema=public"

# REDIS_URL="redis://redis:6379"
REDIS_URL="redis://red-d754rjdactks738ps6f0:6379"

BCRYPT_SALT_ROUND=10 

CORS_ORIGIN=localhost:3000 

JWT_SECRET=secret 
JWT_EXPIRE_IN=1d 
JWT_REFRESH_EXPIRE_IN=30d

 # Email 
 EMAIL_HOST=smtp.gmail.com 
 EMAIL_PORT=587 
 EMAIL_USER=ai.anarul4232@gmail.com 
 EMAIL_FROM=ai.anarul4232@gmail.com 
 EMAIL_PASS="wgfpsnngswhnbhtx" 
 
 # super admin 
 NAME=Admin 
 EMAIL=admin@gmail.com 
 PHONE=01457385594 
 PASSWORD=12345678 
 AVATAR=https://i.ibb.co/VWkMFBWM/pngtree-user-icon-png-image-1796659.jpg